/* @font-face {
    font-family: valoFont;
    src: url(Valorant\ Font.ttf);
} */

* {
    
    padding: 0;
    margin: 0;
    overflow: hidden;

}

#indiaCircle {
    stroke: red;
    visibility: hidden;
    fill: transparent;

}

circle {
    fill: transparent;
}

#bindCircle {
    stroke: red;
    visibility: hidden;
    fill: transparent;
}

#ascentCircle {
    stroke: red;
    visibility: hidden;
    fill: transparent;
}

#havenCircle {
    stroke: red;
    visibility: hidden;
    fill: transparent;
}

#lotusCircle {
    stroke: red;
    visibility: hidden;
}

#breezeCircle {
    stroke: red;
    visibility: hidden;
}

#pearlCircle {
    stroke: red;
    visibility: hidden;
}

#iceboxCircle {
    stroke: red;
    visibility: hidden;
}

#splitCircle {
    stroke: red;
    visibility: hidden;
}

#sunsetCircle {
    stroke: red;
    visibility: hidden;
}

#fractureCircle {
    stroke: red;
    visibility: hidden;
}

svg {
    background: none;
    stroke: #a6273e;
    /* transform: scale(1.1); */
    position: absolute;
    top: 0;
    z-index: 30;
    grid-column: 1/2;
    grid-row: 1/2;
    transition: all 2s ease;
}

#INDIA{
    visibility: visible;
  }

.dashed {
    stroke-dasharray: 3, 3.5;
}

/* .foreground {
    fill: transparent;
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    stroke: #ededed;
    transform-origin: 50% 50%;
    transform: rotate(-270deg);
    transition: all 800ms ease;
  } */
/* #IN{
    fill: red;
} */
.mapsContainer {
    max-width: 100vw;
    height: auto;
    /* overflow: hidden; */
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #09172d, #0b1423, #0b1019, #0b0c0e);
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-template-rows: "a"
        "a";
}

.x {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    /* top: 0;
    justify-content: space-between;
    z-index: 10; */
}

.x>div {

    position: relative;
    top: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    border: 0.2px solid white;
}

.y {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
}

.y>div {

    grid-row: 1/3;
    grid-column: 1/2;
    position: relative;
    top: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    border: 0.2px solid white;
}

/* video{
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 99999;
    opacity: .5;
    filter: invert(-1);
} */
.mapNames {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    bottom: 10px;
    position: absolute;
    left: 10px;
    z-index: 40;
    max-width: 90%;
    height: 60px;
    border: 0.1px solid #737850;

}

.mapbox:hover {
    opacity: 1;
    background-color: #737850;

}

.mapbox {
    opacity: 1;
    /* color: yellow; */
    background-color: #232323;
    padding: 15px 25px;
    text-align: center;
    font-size: 26px;
    font-family: valoFont;
    /* border: 0.2px solid lightgreen; */
    cursor: pointer;
    /* justify-self: baseline; */

}

.mapnamesVerti {
    color: white;
    position: absolute;
    z-index: 40;
    bottom: 90px;
    left: 20px;
}

div {
    font-family: 'Montserrat', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    white-space: pre-line;
}

.btn:hover {
    background-color: #002bff;
}

/* i {
    color: #737850;
    top: 0;
    position: relative;
    -webkit-animation: clickAnimation 2s ease-in-out infinite;
    animation: clickAnimation 2s ease-in-out infinite
}

@-webkit-keyframes clickAnimation {
    0%,20% {
        top: 0
    }

    25%,45% {
        top: 3px
    }

    50%,100% {
        top: 0
    }
}

@keyframes clickAnimation {
    0%,20% {
        top: 0
    }

    25%,45% {
        top: 3px
    }

    50%,100% {
        top: 0
    }
} */
/* .indiaLine {
    stroke: white;
    stroke-width: .3;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 1s ease-out;
}

.bindLine {
    stroke: white;
    stroke-width: .3;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 1s ease-out;
}

.ascentLine {
    stroke: white;
    stroke-width: .3;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 1s ease-out;
}

.havenLine {
    stroke: white;
    stroke-width: .3;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 0.3s ease-out;
}

.splitLine {
    stroke: white;
    stroke-width: .3;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 1s ease-out;
}

.iceboxLine {
    stroke: white;
    stroke-width: .3;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 1s ease-out;
}

.breezeLine {
    stroke: white;
    stroke-width: .3;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 1s ease-out;
}

.fractureLine {
    stroke: white;
    stroke-width: .3;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 1s ease-out;
}

.pearlLine {
    stroke: white;
    stroke-width: .3;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 1s ease-out;
}

.sunsetLine {
    stroke: white;
    stroke-width: .3;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 1s ease-out;
} */

/* .bindLine.animate-in {
    transform: translate(0, 0);
} */
.indiaLine,
.bindLine,
.ascentLine,
.havenLine,
.splitLine,
.iceboxLine,
.breezeLine,
.fractureLine,
.pearlLine,
.sunsetLine {
    visibility: hidden;
    stroke: white;
    stroke-width: .3;
    opacity: 0.5;
    transform: translate(100%, 100%);
    will-change: transform;
    transition: transform 1s ease-out;
}

.indiaLine.animate-in,
.bindLine.animate-in,
.ascentLine.animate-in,
.havenLine.animate-in,
.splitLine.animate-in,
.iceboxLine.animate-in,
.breezeLine.animate-in,
.fractureLine.animate-in,
.pearlLine.animate-in,
.sunsetLine.animate-in {
    transform: translate(0, 0);
}

.coordinates {
    transition: transform 1s ease-out;
    stroke: white;
    stroke-width: 0.2px;
}

.lc,
.bc,
.fc,
.ac,
.sc,
.pc,
.ic,
.bic,
.hc,
.suc {
    /* opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;
    transition: transform 2s ease-in-out; */
    white-space: pre-line;
    visibility: hidden;
}

@keyframes fadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.x-axis,.y-axis{
    
    opacity: .43;
}