

@media (max-width:900px) {

    /* *{
        
    } */
    .top_agent_img {
        width: 100%;
        object-fit: cover !important;
    }

    .img-holder {
        height: 30svh;
    }

    .mode-holder {
        width: 100svw;
        overflow-x: scroll;
    }

    .mode-holder button {
        /* font-size: smaller; */
        font-size: calc(.8vw + .8vh);

    }

    .grid-container {

        /* position: absolute; */
        width: 100vw;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5fr 2fr 2fr 5fr;
    }

    .KdRatio,
    .dmg,
    .KdRatio_data,
    .dmgData {
        text-align: center;
        white-space: pre-line;
    }

    .align_end {
        font-size: smaller;
    }

    .first-top-agent {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .nameTime {
        flex-direction: column;
        align-items: baseline;
    }

    .nameTime span:first-child {
        font-size: x-large;
        /* font-size: calc(3vh + 3vw); */
    }

    .nameTime span:last-child {
        font-size: smaller;
    }

    .second_top_agent {
        align-self: flex-end;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .third_top_agent {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .agent_image {
        object-fit: contain;
        position: relative;
        grid-row: 1 / 3;
        grid-column: 3 / 4;
        height: 85%;
        width: 100%;
        left: 10px;
        transform: scale(1.2);
    }

    .top_gun_container {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .ranked_container {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .season_stats_container {
        grid-row: 4/5;
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ratingFlexBox img {
        object-fit: contain;
        height: 50%;
        width: 50%;
    }

    .winRatioFlexContainer {
        gap: 0;
    }

    .win_loss_stats {
        width: 33%;
    }
}
@media screen and (min-width: 500px) and (max-width: 900px) {

    /* * {
        border: 1px dotted yellow;
    } */

    .top_agent_img {
        width: 100%;
        transform: translate(13%, -9%) scale(1.3);
        object-fit: contain !important;
    }
    .other_top_agents {
        width: 90%;
    }
    .grid-container {
        grid-template-columns: 1fr .5fr;
        grid-template-rows: 1fr .5fr 1.5fr 1.5fr  !important;
    }

    .agent_image {
        /* display: none; */
        object-fit: contain;
        position: relative;
        grid-row: 1 / 3;
        grid-column: 3 / 4;
        height: 85%;
        width: 100%;
        left: 10px;
        transform: scale(1.2);
    }
    .first-top-agent {
        grid-column: 1 / 2 !important;
        grid-row: 1 / 3;
    }
    .second_top_agent{
        align-self: normal;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .third_top_agent {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .season_stats_container {
        grid-column: 1/2;
        grid-row: 3/5;
    }
    .ranked_container{
        height: 90%;
        width: 90%;
        align-self: center;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .top_gun_container{
        width: 90%;
        align-self: center;
        height: 90%;
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
}
