:root {
    --valorant-team-color-bg: #104E48;
    --valorant-team-color: #16E5B4;
    --valorant-team-even-row: #1b2733;
    --valorant-team-odd-row: #1b2733;
    --valorant-team-grid-bg: #1b2733;

}

@font-face {
    font-family: mono;
    src: url(/public/assets/External_Fonts/mono/Google-Sans-Mono-Regular.ttf);
}

* {

    /* font-family: 'Montserrat', Segoe UI, Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
    font-family: 'mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: black; */
    margin: 0;
    padding: 0;
    /* font-size:  min(2vw, calc(2vw + 1em));  */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* background-color: black; */


}

body {
    overflow-x: hidden;
}

main {
    background: #000;

}


.loadContainer {
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    display: flex;
    gap: 3vh;
    flex-direction: column;
    background: #181b29;
}

.lds-hourglass,
.lds-hourglass:after {
    box-sizing: border-box;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

.removeOverFlow {
    overflow: hidden;
}

.visiblity {
    display: none;
}


@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}


.boxFlex::-webkit-scrollbar,
.matches_container::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
}

header {

    width: 100vw;
    position: relative;
    background-color: #161625 !important;
}

a {
    text-decoration: none;
}

nav {

    font-weight: 600;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav div:nth-child(1) {
    font-size: 24;
    position: relative;
    left: 100px;

}

nav div:nth-child(2) {
    font-size: large;
    position: relative;
    right: 250px;
    display: flex;
    gap: 100px;
}

.img-holder {
    border: black 1px solid;
    position: relative;
    width: 100vw;
    background-image: url('https://imgsvc.trackercdn.com/url/max-width(2880),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fvalorant%2Fimages%2Fheroes%2Fhero-omen.jpg%3Fv%3D1/image.jpg');
    /* background-color: red; */
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;

}

.playercard-title-container {
    position: absolute;
    width: auto;
    display: flex;
    gap: 20px;
    color: white;
    justify-content: space-evenly;
    /* background-color: yellow; */
    bottom: 10px;
    align-items: center;
    font-size: larger;
    left: 5%;

}

.tag-level-container {
    display: flex;
    gap: 5px;
    flex-direction: column;

}

.playercard-title-container img {
    width: 100px;
    box-shadow: 0px 0px 0px 1px rgb(15, 15, 14) inset;
    overflow: hidden;
    justify-self: center;
    text-align: center;
    position: relative;
    /* top: 10px; */
    border-radius: 50%;
    display: inline-block;
    padding: 0px;
    border: 2px solid yellow;

}

.tagName {
    cursor: copy;
    font-size: 2rem;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

.mode-holder {
    top: 2vh;
    width: 80vw;
    height: 50px;
    position: relative;
    background-color: #181B29;
    /* #181B29 */
    border-radius: 5px;
    margin: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;


}

.mode-holder button {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #50535D;


}

.mode-holder button:hover,
.mode-holder button:focus {

    background-color: #2C3143;
    color: white;

}

.grid-container {
    /* overflow: hidden; */
    /* font-size: 18px; */
    background-color: #000;
    font-weight: 400;
    position: relative;
    /* background-color: #181B29; */
    width: 90vw;
    height: 120vh;
    margin: auto;
    top: 10vh;
    display: grid;
    /* grid-template-columns:50% 20% 30%; */
    grid-template-columns: 5fr 2fr 3fr;
    grid-template-rows: 25% 25% 25% 25%;


}

.removeGridRow {
    grid-template-rows: 25% 25% 25%;
    height: 100vh;
    /* height: auto; */

}

.first-top-agent {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;

    background: linear-gradient(to right, #181B29, #14162A, #0B0C2E);
    /* background-image: url(Screenshot\ 2024-03-26\ 190636.png); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}

.top-agent-data {
    position: relative;
    width: 90%;
    height: 100%;
    /* background-color: red; */
    margin: auto;
    display: grid;
    grid-template-rows: 18% 25% 2% 13% 8% 13% 15%;
    grid-template-columns: 15% 15% 20% 50%;

}

.title {
    font-family: mono;
    font-size: large;
    font-weight: 600;
    align-self: end;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.nameTime {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    text-transform: uppercase;

    gap: 10%;
    align-items: center;
}

.nameTime span:first-child {
    flex-grow: 0;
    font-weight: bolder;
    color: red;
    font-size: 45px;

}

.nameTime span:last-child {
    flex-shrink: 1;
    font-weight: 600;
    color: #A2A4AA;
    /* color: red;
    font-size: 40px; */

}

.align_end {
    font-weight: 600;
    font-size: medium;
    color: #A2A4AA;
    align-self: end;
}

.Win_Ratio {

    grid-column: 1/2;
    grid-row: 4/5;
}

.KdRatio {
    grid-column: 2/3;
    grid-row: 4/5;
}

.dmg {
    word-break: break-word;
    grid-column: 3/4;
    grid-row: 4/5;

}

.Win_Ratio_data {
    color: white;
    font-weight: bolder;
    grid-column: 1/2;
    grid-row: 5/6;
}

.KdRatio_data {
    color: white;

    font-weight: bolder;
    grid-column: 2/3;
    grid-row: 5/6;
}

.dmgData {
    color: white;

    font-weight: bolder;
    grid-column: 3/4;
    grid-row: 5/6;
}

.abilityDetails {
    grid-column: 1/4;
    grid-row: 6/7;
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 40%;

}

.abilityDetails span:nth-child(1) {
    grid-column: 1/2;
    font-size: medium;
    align-self: end;

    color: #A2A4AA !important
}

.abilityDetails span:nth-child(1)::first-letter {
    font-size: x-large;
    color: Red !important
}

.abilityDetails span:nth-child(2) {
    grid-column: 2/3;
    font-size: medium;
    align-self: end;
    color: #A2A4AA !important;

}

.abilityDetails span:nth-child(2)::first-letter {
    font-size: x-large;
    color: Red !important;
}

.abilityDetails span:nth-child(3) {
    grid-column: 3/4;
    font-size: medium;
    align-self: end;
    color: #A2A4AA !important;
    position: relative;
    left: 10px;
}

.abilityDetails span:nth-child(3)::first-letter {
    font-size: x-large;
    color: Red !important;
}

.abilityCountContainer {
    font-weight: bolder;
    align-self: center;
    display: flex;
    grid-column: 1/4;
    grid-row: 7/8;

}

.abilityCountContainer span {
    flex-basis: 30%;
    font-size: medium;
}

.line {
    align-self: flex-start;
    grid-row: 3/4;
    grid-column: 1/4;
    width: 100%;
    height: 2px;
    background-color: red;
}

.top_agent_img {
    position: absolute;
    transform: scale(1.2) translate(1%, -8%);
    margin: auto;
    align-self: center;
    grid-row: 1/8;
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column: 4/5;
}

.other_top_agents {
    width: 90%;
    height: 95%;
    background: linear-gradient(to bottom right, #181B29, #181B29, #102C3C);
    border-radius: 20px;
    background: -webkit-linear-gradient(top left, #181B29, #181B29, #102C3C);
    background: -moz-linear-gradient(top left, #181B29, #08090d, #102C3C);
    background: -o-linear-gradient(top left, #181B29, #181B29, #102C3C);
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
}

.second_top_agent {
    grid-row: 1/2;
    grid-column: 2/3;
}

.third_top_agent {
    align-self: flex-end;
    grid-row: 2/3;
    grid-column: 2/3;
}

.other_agents_grid_container {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 5fr 6fr;
    grid-template-rows: 1fr 1fr;
}

.agent_name {
    position: relative;
    color: white;
    /* z-index: 1; */
    text-transform: uppercase;
    word-wrap: break-word;
    /* For broader browser support */
    overflow-wrap: break-word;
    align-self: center;
    grid-row: 1/2;
    grid-column: 2/4;
}

.agent_win_ratio {
    /* align-self: center; */

    grid-row: 2/3;
    grid-column: 2/3;
}

.agent_win_ratio span:first-child {
    /* align-self: center; */
    font-weight: 600;
    font-size: medium;
    color: #A2A4AA;

}

.agent_win_ratio span:last-child {
    /* align-self: center; */
    font-weight: 600;
    color: white;

}

.agent_name span:first-child {
    text-align: justify;
    font-size: 25px;
    font-weight: bolder;
}

.agent_win_ratio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.agent_image {
    position: relative;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    height: 100%;
    width: 100%;
    /* left: 10px; */
    object-fit: cover;
    transform: scale(1.2) translate(10px, -10%);

}

/* .third {

    transform: scale(1);
    height: 86%;
} */
.season_stats_container {
    justify-content: center;
    align-items: center;

    height: 95%;
    bottom: 0;
    margin: auto;
    width: 100%;
    position: relative;
    background-color: #181B29;
    grid-column: 1/2;
    grid-row: 3/5;
    border-radius: 20px;

}

.removeStats {
    display: none;
}

.stats_grid_container {
    display: grid;
    position: absolute;
    height: 90%;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 6fr;
}




.select-menu {
    width: 150px;
    cursor: pointer;
    position: relative;
}

.select {
    background-color: transparent;
    border: 1px solid #313232;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.options-list {
    position: absolute;
    width: 100%;
    background-color: #2e2734;
    border-radius: 6px;
    margin-top: 14px;
    padding: 0 20px;
    max-height: 180px;
    overflow-y: auto;
    -webkit-transition: .4s linear .2s;
    -o-transition: .2s linear .2s;
    transition: .2s linear .2s;
    height: 0;
}

.option {
    cursor: pointer;
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    /* -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out; */
    /* transition: 1s ease-in-out; */
}

.option:hover,
.option.selected,
option:active {
    color: #00a8ff;
}

.options-list::-webkit-scrollbar {
    width: 4px;
    background-color: #eee;
}

.options-list::-webkit-scrollbar-thumb {
    background-color: #00a8ff;
}

.options-list.active {
    height: 180px;
}

.headerFlex {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small !important;
    font-weight: 600;
}

.headerFlex h1 {
    font-size: medium;
}

.winRatioFlexContainer {
    display: flex;
    align-items: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
    /* justify-content: space-around; */
    gap: 50px;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 125px;
    --b: 11px;
    --remaining-color: #2F323E;
    height: var(--w);
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    /* font-size: 25px; */
    flex-shrink: 1;
    font-weight: bold;
    font-family: sans-serif;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {

    inset: 0;
    background:
        radial-gradient(farthest-side, var(--remaining-color) calc(100% - var(--p) * 1%), transparent 0),
        conic-gradient(var(--c) calc(var(--p) * 3.6deg), var(--remaining-color) 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));

}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    animation: p 2s .5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}

.inside_pie {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.inside_pie span:first-child {
    font-size: 10px;
    color: #A2A4AA;
}

.inside_pie span:last-child {
    font-size: x-large;
}

.win_loss_stats {

    width: 8em;
    display: flex;
    gap: 10px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to right, #1D383F, #1D202E);

}

.winColor {
    width: 2px;
    height: 40px;
    background-color: white;
}

.lossColor {
    width: 2px;
    height: 40px;
    background-color: red;
}

.box_of_num {
    flex-shrink: 1;
    text-transform: uppercase;
    font-weight: bolder;
}

.performance_Container {
    align-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.performance_row {
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

.data {
    flex-basis: 33.3%;
    /* width: 5em; */
    display: flex;
    height: 60px;
    gap: 10px;
    align-items: center;
    background-image: linear-gradient(to right, #1D383F, #1D202E);
}

.sidebar {
    width: 3px;
    height: 60px;
    background-color: #2490B2;
}

.field1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
}

.field1 div:first-child {
    color: #A2A4AA;
    font-size: small;
}

.field1 div:last-child {
    font-weight: bold;
    font-size: large;
}

.ranked_container {
    align-self: self-end;
    grid-column: 2/3;
    grid-row: 3/4;
    width: 90%;
    height: 95%;
    background: linear-gradient(to bottom right, #181B29, #181B29, #102C3C);
    border-radius: 20px;
    /* background: -webkit-linear-gradient(top left, #181B29, #181B29, #102C3C); */
    background: -moz-linear-gradient(top left, #181B29, #08090d, #102C3C);
    background: -o-linear-gradient(top left, #181B29, #181B29, #102C3C);
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
}

.top_gun_container {
    align-self: center;
    grid-column: 2/3;
    grid-row: 4/5;
    width: 90%;
    height: 95%;
    background: linear-gradient(to bottom right, #181B29, #181B29, #102C3C);
    border-radius: 20px;
    /* background: -webkit-linear-gradient(top left, #181B29, #181B29, #102C3C); */
    background: -moz-linear-gradient(top left, #181B29, #08090d, #102C3C);
    background: -o-linear-gradient(top left, #181B29, #181B29, #102C3C);
    /* position: relative; */
    margin-left: auto;
    display: flex;
    font-weight: bolder;
    font-size: calc(1vh + 1vw);
    flex-direction: column;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.removeGuns {
    display: none;
}

.top_gun_container img {
    width: 95%;
    height: 70%;
    object-fit: contain;
}

.ratingFlexBox {
    margin: auto;
    height: 80%;
    position: relative;
    top: 8%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

.ratingFlexBox span {
    font-size: 20px;
    font-weight: bolder;
}

.ratingFlexBox img {
    height: 60%;
    object-fit: contain;
}

.containerBox {
    /* padding: 23px 0px 0px 23px; */
    display: flex;
    width: 100%;
    /* cursor: pointer; */
    /* height: 8%; */
    /* position: absolute; */
    /* right: 0; */
    justify-content: end;

}

.matchesFlex::-webkit-scrollbar {
    display: none;
}

.matchesFlex {
    /* left: 20%;
    top: 15%; */
    /* position: absolute; */
    overflow: scroll;
    /* height: 50%; */
    /* align-self: center; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.matches_container {
    overflow: hidden;
    background-color: #181B29;
    grid-row: 1 / 5;
    grid-column: 3 / 4;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.matches_container_remove {
    display: none;
}

.last_match_title {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    width: 82%;
    height: 10%;
}

.last_match_title h2 {
    font-size: large;
}

.last_match_title h6 {
    cursor: pointer;
    font-size: x-small;
}

.date {
    /* display: none; */
    margin: 10px 0px 10px 10px;
    font-weight: 700;
    font-size: smaller
}

.boxFlex {
    height: 90%;
    /* overflow: scroll; */
    display: flex;
    /* height: auto; */
}

.matchesGrid {
    margin: 1vh 0vh 0vh 0vh;
    right: 0;
    background: linear-gradient(to right, #1C1F2C, #24303B, #1C393F);
    cursor: pointer;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;

}

.matchesGrid>div {
    font-size: small;
}

/* .agent_ffs{
    height: calc(2vw + 2vh);
    width: calc(2vw + 2vh);
} */
.veriticalBar {
    background-color: #24B299;
    width: .5vh;
    margin: 1vh 0vh 0vh 0vh;
}

.marker {
    border-right: rgb(255 255 255 / 12%) 1px solid;
    margin-top: auto;
    width: 10%;
    height: 100%;
    position: relative;
}

.box {
    display: flex;
    position: relative;
    flex-direction: column;

}
.mapName{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
}
.matchScore{
    
    font-weight: 600;
    gap: 3px;
    display: flex;
    font-size: .9rem;

}
.lostBg{
    background: linear-gradient(to right, #1C1F2C, #24303B,  #822727);
}
.matchLostBar{
    background-color: red;
}

.matchScore span:first-child{
    color: #16e5b4;
}
.matchScore span:last-child{
    color: #E4485D;
}

.teir {
    height: calc(2vw + 1.4vh);
}

.matchHighlights {
    z-index: -1;
    display: none;
    grid-row: 1/4;
    grid-column: 1/4;
    grid-template-columns: 1fr;
    grid-template-rows: .23fr 1fr;
    width: 100%;
    height: 120%;
    /* 105 */
    background-color: #181b29;
    position: relative;
    border-radius: 10px;
    /* bottom: 5vh; */
    /* z-index: -1;
    left: 50%;
    transform: translate(-50%, -128%);
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .23fr 1fr;
    width: 90vw;
    height: 90vh;
    background-color: red;
    position: absolute;
    animation: popin 5s ; */
    animation: 3s slide-bottom;

}

@keyframes slide-bottom {
    from {
        margin-bottom: 100%;
    }

    to {

        margin-bottom: 0%;
    }
}

.matchHighRemove {
    display: grid;
}

@keyframes popin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* .headerContainer  *{
    border: 1px solid red;
} */
.headerContainer {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    grid-row: 1/2;
    background-color: #2c3f52;
    display: none;
    flex-direction: column;
}

.visible {
    display: flex;
}

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.mainContainer {
    position: relative;
    overflow-y: scroll;
    display: none;
    flex-direction: column;
    grid-row: 2/3;
}

.limitMain {
    height: 988px;
    overflow: scroll;
}



.MatchOverView {
    flex-basis: 30%;
    display: flex;
    padding: 4px 10px 0px 10px;
    flex-direction: row;
    justify-content: space-between;
}

.flexfirst {
    gap: 2.5vw;
    display: flex;

}

.box1 {
    display: flex;
    gap: 8px;
}

.spikeicon {
    height: 80%;
    position: relative;
    /* left: 2vw; */
    align-self: center;
}

.ff {
    height: 100%;
    display: flex;
    gap: 1vw;
}

.flexEnd {
    align-items: flex-end;
}

.nameMapFlex {

    display: flex;
    /* gap: 1vh; */
    flex-direction: column;
}

.nameMapFlex span:first-child {
    font-size: smaller;
}

.nameMapFlex span:last-child {
    font-size: large;
}

.TeamFlex {
    justify-content: flex-end;
    height: 100%;
    display: flex;
    /* gap: 1vh; */
    flex-direction: column;
}

.TeamFlex div:first-child {
    font-size: 12px;
    align-self: center;
}

.TeamFlex div:last-child {
    font-size: 18px;
    align-self: center;
}

.colon {

    align-self: flex-end;
}

.box2 {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.box2 div:first-child {
    color: #99abb5;
    font-size: x-small;
}

.box2 div:last-child {
    font-size: large;
}

#closeConatiner {
    padding: 0;
    font-size: large;

    border: none;
    background: none;
    background-color: transparent;
}

.closeFlex {
    display: flex;
    width: 3%;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.subPerformance {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subPerformance button {
    /* flex-basis: 25%; */
    padding: 0;
    height: 100%;
    font-size: medium;
    cursor: pointer;
    border: none;
    background: none;
    background-color: transparent;
    width: 25%;
    text-align: center;
}

.subPerformance button:nth-child(3):hover,
.subPerformance button:nth-child(4):hover {

    cursor: not-allowed;
}


.subPerformance button:nth-child(1):focus,
.subPerformance button:nth-child(2):focus {

    border-bottom: 1px red white;
}

.mc-grid {
    font-size: 0.9em !important;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 60%;
    display: grid;
    /* background-color: #181B29;
     */
     background-color: #0f1923;
    /* grid-template-columns: 25.27% 9.47% 10.45% 6.31% 6.31% 6.31% 6.31% 6.31% 6.31% 9.47%; */
    grid-template-columns: 20.2% 7.5% 8.75% 5% 5% 5% 5% 5% 5% 7.5% 7.5% 7.5% 5.5% 5.5%;
    grid-template-rows: 10.6% 17.88% 17.88% 17.88% 17.88% 17.88%;
}

.mainContainer .mc-grid:last-child {
    top: 60%;
    position: absolute;
}

.name-Column {
    align-items: center;
    margin-left: 19px;
    display: flex;
    gap: 1vh;
    position: relative;
    z-index: 2;
    grid-column: 1/2;
    grid-row: 1/2;
}

.TeamAvgRank {
    display: inline-flex;
}

.matchRank-Column {
    position: relative;
    z-index: 2;
    grid-column: 2/3;
    grid-row: 1/2;
}

/* .oddRow{
    grid-column: 1/15;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: transparent;
} */
.headerColor {
    font-size: small;
    color: #c3d2c8;
}

.acs-Column {
    position: relative;
    z-index: 2;
    grid-column: 3/4;
    grid-row: 1/2;
}

.kill-Column {
    position: relative;
    z-index: 2;
    grid-row: 1/2;
    grid-column: 4/5;
}

.death-Column {
    position: relative;
    z-index: 2;
    grid-column: 5/6;
    grid-row: 1/2;
    /* Incremented for death-Column */
}

.assist-Column {
    position: relative;
    z-index: 2;
    grid-column: 6/7;
    grid-row: 1/2;
    /* Incremented */
}

.killdif-Column {
    position: relative;
    z-index: 2;
    grid-column: 7/8;
    grid-row: 1/2;
    /* Incremented */
}

.kd-Column {
    position: relative;
    z-index: 2;
    grid-row: 1/2;
    grid-column: 8/9;
    /* Incremented */
}

.dda-Column {
    position: relative;
    z-index: 2;
    grid-column: 9/10;
    grid-row: 1/2;
    /* Incremented */
}

.adr-Column {
    position: relative;
    z-index: 2;
    grid-column: 10/11;
    grid-row: 1/2;
    /* Incremented */
}

.Headshot-Column {
    position: relative;
    grid-row: 1/2;
    z-index: 2;
    grid-column: 11/12;
    /* Incremented */
}

.firstkill-Column {
    position: relative;
    z-index: 2;
    grid-row: 1/2;
    grid-column: 12/13;
    /* Incremented */
}

.firstdeath-Column {
    position: relative;
    z-index: 2;
    grid-column: 13/14;
    grid-row: 1/2;
    /* Incremented */
}

.multikill-Column {
    position: relative;
    z-index: 2;
    grid-row: 1/2;
    grid-column: 14/15;
    /* Incremented */
}

.tooltip {
    opacity: 1;
    display: block;
    background: #283a4b;
    transform: translate(0, -8vh);
    position: absolute;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 2px;
    pointer-events: none;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #1496bb 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 60%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.acs-Column:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    /* -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); */
}
/* .acs{
    background-color: #172635;
} */
.acsbg1 , .acsbg3 , .acsbg5{
    background-color: #172635;
}
.acsbg2 , .acsbg4{
    background-color: #233950 !important;
}

/* .mc-grid .acsbg{
    background-color: #293b4d;
} */
.rankBox {
    gap: 2px;
    align-items: center;
    display: flex;

}

.rankBox img {
    height: 17px;
    object-fit: cover;
}

.Firstheader {
    border-top: .7px solid black;
    border-bottom: .7px solid black;
    width: 100%;
    height: 100%;
    grid-column: 1/15;
    grid-row: 1/2;
    background-color: #104e48;
}

.teamB {
    background-color: #4c2332;
}

.Ascore div {
    color: #16e5b4;
}

.Bscore div {
    color: #E4485D;
}

/* .forthRow{
    width: 100%;
    height: 100%;
    grid-column: 1/15;
    grid-row: 7/8;
    background-color: var(--valorant-team-even-row);
} */
.playerBox1 {
    /* text-align: left; */
    background-image: linear-gradient(to right, var(--valorant-team-color-bg), transparent 7rem);
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: .7px solid black;
}

.playerBox2 {
    background-image: linear-gradient(to right, var(--valorant-team-color-bg), transparent 7rem);
    height: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    background-color: var(--valorant-team-even-row);
    align-items: center;
    flex-direction: row;
    border-bottom: .7px solid black;
}

.playerBox3 {
    background-image: linear-gradient(to right, var(--valorant-team-color-bg), transparent 7rem);
    height: 100%;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: .7px solid black;
}

.playerBox4 {
    background-image: linear-gradient(to right, var(--valorant-team-color-bg), transparent 7rem);
    height: 100%;
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    background-color: var(--valorant-team-even-row);
    align-items: center;
    flex-direction: row;
    border-bottom: .7px solid black;
}

.playerBox5 {
    background-image: linear-gradient(to right, var(--valorant-team-color-bg), transparent 7rem);
    height: 100%;
    grid-column: 1/2;
    grid-row: 6/7;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: .7px solid black;
}

.nameLevelWrapper {
    margin-left: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.nameLevelWrapper div:first-child {
    font-size: medium;
}

.nameLevelWrapper div:last-child {
    font-size: .7em;
}

.partyIndicator {
    margin-right: 13px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 80%;
    width: 0.3vw;
    background: transparent;
}
.redparty1{
    background: blueviolet;
}
.redparty1{
    background: #6ffba7;
}
.blueparty1{
    background: #fe6100;
}
.blueparty2{
    background: cyan;
}
.tag {
    font-weight: 500;
    padding: 1px 4px;
    font-size: x-small;
    background-color: #36414c;
}

/* .evenRows{
    grid-column: 1/15;
    grid-row: ;
}
//background-color: #181B29; */
.flexWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div[class^="p1"] {
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: .7px solid black;
    grid-row: 2/3;
}

div[class^="p2"] {
    background-color: var(--valorant-team-even-row);
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: .7px solid black;
    grid-row: 3/4;
}

div[class^="p3"] {
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: .7px solid black;
    grid-row: 4/5;
}

div[class^="p4"] {
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--valorant-team-even-row);
    border-bottom: .7px solid black;
    grid-row: 5/6;
}

div[class^="p5"] {
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: .7px solid black;
    grid-row: 6/7;
}
.fontRed{
    color: red !important;
}
.white {
    color: white;
    font-weight: 500;
}

.yellow .flexWrapper {
    color: #5EE790;
    font-weight: 500;
}

.backgroundHighlight {
    background-image: linear-gradient(to right, #ae9b49, transparent 7rem);
}

.lds-circle,
.lds-circle div {
    box-sizing: border-box;
}

.lds-circle {
    text-align: center;
    align-self: center;
    display: inline-block;
    transform: translateZ(1px);
}

.lds-circle>div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    background: currentColor;
    border-radius: 50%;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {

    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
}

.loaderMessage {
    font-family: mono;
    font-weight: 400;
    display: block;
    text-align: center;
    font-size: x-large;
}