* {
    font-family: 'Montserrat', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    /* background-color: black; */
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.rowBox{
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-red-box{
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-red{
    margin-top: 5px;
    align-self: baseline;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 65px;
    height: 65px;
    background-color: red;
}
.bg-red img{
    height: 100%;
    width: 100%;
}
#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1b2733;
}

#style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #1b2733;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #1b2733;
}

.bannerText input[type="text"]:focus {


    outline: none;
    /* background-image: url(https://static.thenounproject.com/png/101791-200.png);
        background-position: 90%;
        background-repeat: no-repeat;
        background-size: 1.3rem; */


}


header {
    /* Newly added */
    /* display: none; */
    width: 100vw;
    position: relative;
    background-color: #161625;
    border-bottom: 1px solid black;
    /* outline: 1px solid black; */
}

a {
    text-decoration: none;
}

nav {

    font-weight: 600;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

div.logoText{
    display: none;
    /* justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px; */
    top: 2%;
    left: 2%;
    /* color: red; */
    z-index: 1;
    position: absolute;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    gap: 0px;
}

.newHeader div:first-child {
    display: flex;
    /* height: 100%; */
    width: 100%;
    gap: 10%;
    /* justify-content: end; */
    align-items: center;
}

nav div:nth-child(1) {
    font-size: 24;
    position: relative;
    left: 100px;

}

nav div:nth-child(2) {
    font-size: large;
    position: relative;
    right: 250px;
    display: flex;
    gap: 100px;
}

.searchWrapper {
    align-items: center;
    /* flex-grow: 1; */
    /* flex-wrap: wrap; */
    width: 75%;
    /* column-gap: 10vw; */
    height: 85%;
    /* row-gap: 1vw; */
    /* justify-content: center; */
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .curve{
    background: linear-gradient(45deg, #7c2635, purple);
} */

.newHeader {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10vh;
    width: 100vw;
}

.searchCon {


    
    background-color: transparent;
    position: relative;
    width: 100vw;
    /* height: 55vh; */
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.75)), linear-gradient(rgba(15, 20, 26, 0.5), rgba(15, 20, 26, 0.5)), url(../assets/images/extras/fade.png);
    /* backgroun   d-image: url(jett.png); */
    /* background-image: url("../assets/images/extras/fade.png"); */

}

.wallpaper {
    width: 100%;
    filter: brightness(0.5);
    height: 100%;
    object-position: top;
    object-fit: cover;
}


.bannerText {
    padding: 5vh 0px 0px 0px;
    height: 100%;
    width: 50%;
    display: none;
    text-align: center;
    display: flex;
    /* gap: 2rem; */
    /* justify-content: center; */
    flex-direction: column;

    .inlineWrapper {
        position: relative;
        display: flex;
        align-items: center;
    }
}

.searchIcon {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    border: 1px solid #1b2733;
    width: 10%;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: #1b2733;

}

.bannerText input {
    height: 65px;
    width: 80%;
    /* background: #e5eff1; */
    border-bottom: 1px solid #1b2733;
    border-top: 1px solid #1b2733;
    border-right: 1px solid #1b2733;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 16px 16px 16px 16px;
    color: black;
}

.searchIcon img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.WrapperBox {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.WrapperBox span {
    color: white;
    font-weight: 700;
    font-size: xx-large;
}

.WrapperBox div {
    color: #ffffffad;
}

.MatchingPlayersBox {
    align-items: center;
    display: flex;
    gap: 1vh;
    text-align: left;
    /* padding-left: 1vw; */
    width: 100%;
    /* overflow-y: scroll; */
    flex-direction: column;

}

.recentClass {
    display: flex;
    align-items: center;
    display: flex;
    gap: 1vh;
    text-align: left;
    /* padding-left: 1vw; */
    width: 100%;
    /* overflow-y: scroll; */
    flex-direction: column;

}

.searchboxContainer {
    overflow: hidden;
    border-radius: 10px;
    visibility: hidden;
    width: 90%;
    display: flex;
    flex-direction: row;
    /* height: 50%; */
    height: 28%;
    background-color: #161625;
}

span.SearchedResult {
    display: none;
    height: 33.3%;
    width: 100%;
    cursor: pointer;
    /* display: flex; */
    gap: 2vh;
    align-items: center;
    justify-content: center;
}

.displayFlex {
    display: flex !important;
}

.displayNone {
    display: none !important;
}

.searchContainerHeight {
    height: 48%;
}

.addRowHeight {
    height: 33.3% !important;
}

.column1 {
    /* height: 60%; */
    font-size: 1rem;
    /* padding: 15px 6px; */
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
    display: flex;
    /* gap: 2vh; */
    flex-direction: column;
    width: 40%;

}

.cc {

    height: 50%;
    width: 100%;
    cursor: pointer;
    display: flex;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    /* margin-left: 10%; */
}

.addLeftBorder {
    border-left: 4px solid red !important;
}

/* .column1 span:active,.column1 span:focus{

        border-left: 4px solid red;
} */
.column2 {
    /* overflow-y: scroll; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60%;
    /* gap: 1vh; */
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    background-color: #1b2733;
}

.searchedPlayerColumn {
    /* overflow-y: scroll; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60%;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    background-color: #1b2733;
}

.searchedPlayerColumn {
    /* overflow-y: scroll; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    background-color: #1b2733;
}

.ErrorColumn {
    padding: 3rem;
    /* overflow-y: scroll; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    background-color: #1b2733;
}

.sixtyHeight {
    height: 60% !important;

}

.searchedPlayer {
    cursor: pointer;
    width: 100%;
    /* background-color: #323d48; */
    align-items: center;
    display: flex;
    gap: 1vh;
    text-align: left;
    padding-left: 1vw;
    /* height: 35%; */
}

.removeRecentP {
    font-size: small;
    color: yellow;
    cursor: pointer;
    right: 5%;
    position: absolute;
}

.MatchingPlayers {
    padding: 10px 0px 0px 0px;
        position: relative;
    width: 100%;
    /* background-color: #323d48; */
    align-items: center;
    display: flex;
    gap: 1vh;
    text-align: left;
    padding-left: 1vw;
    /* height: 35%; */
}

.playersTitle {
    margin-top: .5rem;
    height: 20%;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.searchedPlayer img {
    height: 100%;
    object-fit: cover;
}

.playersTitle span {
    font-weight: 600;
    font-size: medium;
    margin-left: .5vw;
    color: #ffffff7d;
}

.playersWrapper {
    height: 80%;
    width: 100%;

    align-items: baseline;
    display: flex;
    flex-direction: column;

}

.column1 span div,
.column1 span i {
    color: #99abbf;
}

.column1 span:hover div,
.column1 span:hover i {
    color: white;
}

.column1 span:last-child:hover {
    cursor: not-allowed;
}

.topPlayerCards {


    width: 50%;
    display: flex;
    position: relative;
    flex-direction: row;

    gap: 20px;
    justify-content: space-evenly;
    align-items: center;

}

.players {
    box-shadow: 0 6px 8px rgb(72 23 23);
    border-radius: 10px;
    position: relative;
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    grid-template-columns: 90% 10%;
    grid-template-rows: 50% 25% 25%;
    flex-direction: column;
    gap: 18px;
    font-size: 20px;
    background-color: #2C3F52;
    width: 160px;
    height: 200px;
    cursor: pointer;
}

#showMore {
    display: none;
}

.topPlayerCards .players {
    opacity: 1;
    transition: opacity 0.5s ease;
    /* Smooth transition for the dim effect */
}

/* When hovering over the container, dim all players */
/* .topPlayerCards:hover .players {
    opacity: 0.5;
} */

/* But then, specifically undo the dimming for the player that is being hovered over */
.topPlayerCards .players:hover {
    opacity: 1;
    transform: scale(1.1);
}

.players div .playerIcon {

    box-shadow: 0px 0px 0px 1px rgb(15, 15, 14) inset;
    overflow: hidden;
    justify-self: center;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 10px;
    border-radius: 50%;
    display: inline-block;
    padding: 0px;
}

#playerName {

    padding: 0px 10px;
    text-align: center;
    position: relative;
    bottom: 4px;
    font-weight: bold;
    font-size: 14px;

}

#Server {
    color: yellow;
    position: relative;
    bottom: 10px;
    font-weight: 400;
    font-size: 14px;
}

.playerRedirect {
    display: contents;
}

.errorSearch {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;

}

.Searchloading {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNG5jcnQxa3Z3czdrZnVxMmI0NWQwZXM0ZGdjc2F5bzdmZTR6MjR6ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kUTME7ABmhYg5J3psM/giphy.gif);

}
.card-holder{
    border: 1px solid yellow;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.card-holder img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.clearButton {
    visibility: hidden;
    color: black;
    position: absolute;
    cursor: pointer;
    /* background-color: red; */
    height: 41%;
    right: 11%;
    width: 67px;
}

.clearButton:active {
    transform: translateY(2px);
}

.tagLine {
    color: greenyellow;
    font-size: small;
    background-color: #161625;
}

#playerRating {
    color: cyan;
    position: relative;
    bottom: 20px;
    font-weight: 300;
    font-size: 20px;
}

.MatchingPlayers a {
    display: contents;
}

.players .rank {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../../assets/images/extras/badge.png.png");
    background-repeat: no-repeat;
    background-size: 56px;
    color: #111;
    height: 53px;
    width: 50px;
    padding: 0.5rem;
}

.players span:nth-child(2) {

    grid-row: 3/4;
    grid-column: 1/3;
}

.players>.img {
    display: block;
}

.badge {
    display: inline-block;

}

#section2 {
    background-image: url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltbded518020183769/5eb26f5389bac8148a8006cc/agent-background-generic.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    background-blend-mode: darken;
}

#section3 {
    background-image: url(../assets/images/extras/Ascent.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    background-blend-mode: darken;
}

.leadandline {
    position: relative;
    top: 29px;
    max-width: 100vw;
    height: 80vh;
    display: flex;

    flex-direction: column;
    overflow: hidden;
    gap: 20px;

    justify-content: center;
    align-items: center;


}


/* .ll:hover{
    transform: scale(1.01);
} */
.ll {
    border-radius: 8px;
    width: 60vw;
    height: 500px;
    background-color: #2C3F52;
}

body {
    overflow-x: hidden;
}

table,
tr,
td {
    overflow-x: hidden;
    table-layout: fixed;
    width: 100%;
    /* border-top: 0.1px white solid; */
    border-collapse: collapse;

}

table h1:first-child {
    font-size: 44px;

}

tr {
    height: 70px;

}

tr:nth-child(odd) {
    background-color: #171d3f;
}

tr td:nth-child(1) {
    text-align: center;
    width: 20%;
    vertical-align: middle;
}

tr td:nth-child(2) {
    position: relative;
    padding-left: 8px;
    /* width: 50%; */
    vertical-align: middle;
}

tr td:nth-child(3) {
    position: relative;

    width: 20%;
    vertical-align: middle;
}

.playersName {

    padding: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: bolder;
    font-size: 18px;
    align-self: center;
    gap: 10px;

}

.playersName span:first-child {
    font-size: large;
    text-align: center;

}

caption {
    padding: 9px;
    background-color: #ff4655;
}

button {
    display: inline;
    width: 40px;
    height: 40px;
    color: black;
    font-size: large;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

/* #EU{

    background-color: red;
} */
button:hover {
    transform: scale(1.2);
    background-color: #ff4655;
}

button:focus {
    outline: 0;
    background-color: red;
    border: none;
}

.serverName {
    width: 40%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.mapContainer {
    max-width: 60vw;
    margin: auto;
    height: 100vh;
    /* overflow: hidden; */
}

svg:not(hover) {
    transition: transform .2s;
    transform: scale(1.5, 1.5);

}

svg:hover {
    transition: transform .2s;
    transform: scale(1.5, 1.5);
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}


.three-quarter-spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #fb5b53;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .5s linear 0s infinite;
}

#load {
    /* top: 1px; */
    z-index: 1;
    margin: auto;
    width: 100vw;
    position: absolute;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

tr td:nth-child(2):hover {
    cursor: pointer;
    color: red;
    transform: scale(1.01);
}

.tooltip-text {
    visibility: hidden;
    /* position: relative; */
    z-index: 2;
    width: auto;
    color: white;
    font-size: small;
    background-color: #202124;
    border: 0.1px solid lightblue;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.tooltip-text span {
    color: yellow;
}

.playersName:hover .tooltip-text {
    visibility: visible;
}

#right {
    top: -8px;
    left: 120%;
}

#right::before {
    top: 35%;
    left: -2%;
}

/* shimmer Effects */
.shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #d0c8c814 0%, #3f3f3f 10%, #4a4a4a 20%, #3f3f3f 30%, #3a3a3a 50%, #3a3a3a 100%);
    background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }

    100% {
        background-position: 1200px 0;
    }
}

.image {
    width: 60px;
    border-radius: 50%;
    height: 60px;
}

.name {
    height: 16px;
    width: 70px;
}

.server {
    width: 80px;
    height: 17px;
    border-radius: 10px;
}

.ratings {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

.r-50 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.footer {
    height: 15vh;
    width: 100vw;
    background: hsl(225deg 17.39% 9.02%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerWrapper {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerWrapper div span {
    color: #9098aa;
}

.footerRow span:last-child {
    text-decoration-thickness: 0px;
    text-underline-offset: 4px;
    text-decoration-line: underline;
    text-decoration: underline;
}

ul {
    gap: 35px;
    display: flex;
}

ul li {
    color: #9098aa;
    ;
    list-style: none;
}