<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link type="text/css" rel="stylesheet" href="/CssFiles/agentstyle.css">
  <title>VALORANT AGENTS</title>
</head>

<body>
  <header>
    <nav>
      <div>
        <h3>VALTRACKER</h3>
      </div>
      <div>
        <a href="/">HOME</a>
        <a href="/agents">AGENTS</a>
        <a href="/maps">MAPS</a>
        <a href="#aa">GUNS</a>
      </div>
    </nav>
  </header>
  <main>
    <section>
      <div class="agent-image-container">
        <div class="agent-pfp-container">
          <img class="img-agent" src="https://vgraphs.com/images/agents/brimstone-avatar.jpg" alt="agent">
        </div>
        <div class="agent-pfp-details">
          <span>BRIMSTONE</span>
          <span><img
              src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt63e21ca9443dce8e/5eb270f43b09c042ddca1353/Controller.png"
              width="15"> Controller</span>
        </div>
      </div>
    </section>
    <section>
      <div class="all-agents-names">
        <div class="names-container">
          <button>Brimstone</button>
          <button>Viper</button>
          <button>Omen</button>
          <button>Breach</button>
          <button>Cypher</button>
          <button>Sova</button>
          <button>Sage</button>
          <button>Phoenix</button>
          <button>Jett</button>
          <button>Reyna</button>
          <button>Raze</button>
          <button>Killjoy</button>
          <button>Skye</button>
          <button>Yoru</button>
          <button>Astra</button>
          <button>KAY/O</button>
          <button>Chamber</button>
          <button>Neon</button>
          <button>Fade</button>
          <button>Harbor</button>
          <button>Gekko</button>
          <button>Iso</button>
          <button>Deadlock</button>


        </div>
      </div>
    </section>
    <section>
      <div class="agent-about">
        <div class="agent-full-image">
          <img
            src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt26fcf1b5752514ee/5eb7cdbfc1dc88298d5d3799/V_AGENTS_587x900_Brimstone.png">
        </div>
        <div class="agent_about_details">
          <span class="bio">//BIOGRAPHY</span>
          <span class="bio_details">Joining from the U.S.A., Brimstone's orbital arsenal ensures his squad always has
            the advantage. His ability to deliver utility precisely and safely make him the unmatched
            boots-on-the-ground commander.</span>
          <span class="origin">Origin : United States</span>
          <span class="agent-number">Agent Number: 01</span>
        </div>
      </div>
    </section>
    <section>
      <div class="abilities">

        <div class="ability_container">
          <h1>SPECIAL ABILITIES</h1>
          <div class="wrapper">
            <div class="wrapper-icons" id="ab">
              <img src="/assets/images/brimstione/Property 1=q-Brimstone_Incendiary.png">
            </div>
            <div class="wrapper-icons">
              <img src="/assets/images/brimstione/Property 1=e-Brimstone_Sky_Smoke.png">
            </div>
            <div class="wrapper-icons">
              <img src="/assets/images/brimstione/Property 1=c-Brimstone_Stim_Beacon.png">
            </div>
            <div class="wrapper-icons">
              <img src="/assets/images/brimstione/Property 1=x-Brimstone_Orbital_Strike.png">
            </div>
          </div>
          <div class="abilities_box">
            <div class="abilities-description-wrapper">
              <h1> Q - CURVEBALL</h1>
              <span>EQUIP a flare orb that takes a curving path and detonates shortly after throwing. FIRE to curve the
                flare orb to the left, detonating and blinding any player who sees the orb. ALTERNATE FIRE to curve the
                flare orb to the right.</span>
            </div>
          </div>
          <div class="ability_player">
            <video preload="true" autoplay muted loop>
              <source
                src="https://assets.contentstack.io/v3/assets/bltb6530b271fddd0b1/blte2b9eb1923ef64fa/5ecad7d0f5bd13348a6cac75/Brimstone_Q_v001_web.mp4"
                type="video/mp4">
            </video>
          </div>
        </div>

      </div>
      </div>
    </section>
  </main>
  <script src="Scripts/agentsScript.js"></script>
</body>

</html>