<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link type="text/css" rel="stylesheet" href="/CssFiles/agentstyle.css">
  <title>VALORANT AGENTS</title>
</head>

<body>
  <header>
    <nav>
        <div class="logoText">
            <img src="assets/images/extras/logo.png" width="70">
            <h3>VALTRACKER</h3>
        </div>
        <div>
            <a href="/">HOME</a>
            <a href="/agents">AGENTS</a>
            <a href="/maps">MAPS</a>
            <a href="#aa">GUNS</a>
        </div>
    </nav>
</header>
  <main>
    <section>
      
      <div class="agent-image-container">
        <div class="agent-pfp-container">
          <img class="img-agent" src="https://media.valorant-api.com/agents/9f0d8ba9-4140-b941-57d3-a7ad57c6b417/displayicon.png" alt="agent">
        </div>
        <div class="agent-pfp-details">
          <span class="AgentName">BRIMSTONE</span>
          <span class="role"><img class="roleIcon"
              src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt63e21ca9443dce8e/5eb270f43b09c042ddca1353/Controller.png"
              width="15"> Controller</span>
        </div>
      </div>
    </section>
    <section>
      <!-- <video autoplay loop>
        <source src="https://assets.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt29d7c4f6bc077e9e/5eb26f54402b8b4d13a56656/agent-background-generic.mp4" type="video/mp4">
     </video> -->

        <div class="all-agents-names">
        <div class="names-container">
          <button class="agent" agent_name="Brimstone">Brimstone</button>
          <button class="agent" agent_name="Viper">Viper</button>
          <button class="agent" agent_name="Omen">Omen</button>
          <button class="agent" agent_name="Breach">Breach</button>
          <button class="agent" agent_name="Cypher">Cypher</button>
          <button class="agent" agent_name="Sova">Sova</button>
          <button class="agent" agent_name="Sage">Sage</button>
          <button class="agent" agent_name="Phoenix">Phoenix</button>
          <button class="agent" agent_name="Jett">Jett</button>
          <button class="agent" agent_name="Reyna">Reyna</button>
          <button class="agent" agent_name="Raze">Raze</button>
          <button class="agent" agent_name="Killjoy">Killjoy</button>
          <button class="agent" agent_name="Skye">Skye</button>
          <button class="agent" agent_name="Yoru">Yoru</button>
          <button class="agent" agent_name="Astra">Astra</button>
          <button class="agent" agent_name="KAYO">KAY/O</button>
          <button class="agent" agent_name="Chamber">Chamber</button>
          <button class="agent" agent_name="Neon">Neon</button>
          <button class="agent" agent_name="Fade">Fade</button>
          <button class="agent" agent_name="Harbor">Harbor</button>
          <button class="agent" agent_name="">Gekko</button>
          <button class="agent" agent_name="Iso">Iso</button>
          <button class="agent" agent_name="Deadlock">Deadlock</button>


        </div>
      </div>
    </section>
    <section>
      <div class="agent-about">
        <div class="agent-full-image">
          <img id="agentImage"
            src="https://media.valorant-api.com/agents/9f0d8ba9-4140-b941-57d3-a7ad57c6b417/fullportrait.png">
        </div>
        <div class="agent_about_details">
          <span class="bio">//BIOGRAPHY</span>
          <span class="bio_details">Joining from the U.S.A., Brimstone's orbital arsenal ensures his squad always has
            the advantage. His ability to deliver utility precisely and safely make him the unmatched
            boots-on-the-ground commander.</span>
          <span class="origin">Origin : United States</span>
          <span class="agent-number">Agent Number: 01</span>
        </div>
      </div>
    </section>
    <section>
      <div class="abilities">

        <div class="ability_container">
          <h1><span class="underline"> SPECIAL ABILITIES</span></h1>
          <div class="wrapper" >
            <div class="wrapper-icons active1" key="Q" >
              <img id="ability1"  src="/assets/images/brimstione/Property 1=q-Brimstone_Incendiary.png">
            </div>
            <div class="wrapper-icons" key="E">
              <img id="ability2"  src="/assets/images/brimstione/Property 1=e-Brimstone_Sky_Smoke.png">
            </div>
            <div class="wrapper-icons" key="C">
              <img id="ability3"  src="/assets/images/brimstione/Property 1=c-Brimstone_Stim_Beacon.png">
            </div>
            <div class="wrapper-icons" key="X">
              <img id="ability4" src="/assets/images/brimstione/Property 1=x-Brimstone_Orbital_Strike.png">
            </div>
          </div>
          <div class="abilities_box">
            <div class="abilities-description-wrapper">
              <h1> Q - CURVEBALL</h1>
              <span class="abilityDesc">EQUIP a flare orb that takes a curving path and detonates shortly after throwing. FIRE to curve the
                flare orb to the left, detonating and blinding any player who sees the orb. ALTERNATE FIRE to curve the
                flare orb to the right.</span>
            </div>
          </div>
          <div class="ability_player">
            <!-- preload="true" -->
            <video id="abiltyVideo"  autoplay muted loop>
              <source 
                src="https://assets.contentstack.io/v3/assets/bltb6530b271fddd0b1/blte2b9eb1923ef64fa/5ecad7d0f5bd13348a6cac75/Brimstone_Q_v001_web.mp4"
                type="video/mp4">
            </video>
          </div>
        </div>

      </div>
      </div>
    </section>
    <section class="footer">
      <div class="footerWrapper">
          <div class="footerRow">
              <span>2024</span>
              <span>&#169;ValTracker</span>
          </div>
          <ul>
              <li><a href="/home/privacy" target="_blank">Privacy Policy</a></li>
              <li><a href="/home/tos" target="_blank">Terms of Service</a></li>
              <li><a href="mailto:support@val.tracker">Support</a></li>
              <li><a href="https://app.swaggerhub.com/apis-docs/Henrik-3/HenrikDev-API/3.0.0#/">API Used</a></li>
          </ul>
      </div>

  </section>
  </main>
  <script src="Scripts/agentsScript.js"></script>
</body>

</html>