<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CssFiles/playerstats.css">
    <link rel="stylesheet" href="/CssFiles/playerstatsmediaqueries.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <h3>VALTRACKER</h3>
            </div>
            <div>
                <a href="#aa">HOME</a>
                <a href="/agents">AGENTS</a>
                <a href="/maps">MAPS</a>
                <a href="#aa">GUNS</a>
            </div>
        </nav>
    </header>
    <div class="loadContainer">

        <div class="lds-hourglass"></div>
        <h1>Loading Reports</h1>
        <div class="factFlex"><span>Random Fact: </span><span id="funfact"></span></div>
    </div>
    </div>
    <main>
        <section class="visiblity">
            <div class="img-holder">
                <div class="playercard-title-container">
                    <img class="card-img"
                        src="https://media.valorant-api.com/playercards/e6a07a97-4c48-421f-515e-288379f7a5be/smallart.png"
                        width="40">
                    <div class="tag-level-container">

                        <span class="tagName">NPC#IRl</span>
                        <span class="levelDetail">Lvl: 123</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="visiblity">
            <div class="mode-holder">
                <!-- <div class="modes-type"> -->
                <button autofocus>Competetive</button>
                <button>Unrated</button>
                <button>Team Deathmatch</button>
                <button>Deathmatch</button>
                <button>Swift Play</button>
                <!-- </div> -->
            </div>
        </section>
        <section class="visiblity">
            <div class="grid-container">
                <div class="first-top-agent">
                    <div class="top-agent-data">
                        <span class="title">TOP AGENT</span>
                        <div class="nameTime">
                            <span>OMEN</span>
                            <span>Played 21H 40M</span>
                        </div>
                        <span class="Win_Ratio align_end">Win Ratio</span>
                        <span class="KdRatio align_end">K/D Ratio</span>
                        <span class="dmg align_end">Avg
                            Dmg</span>
                        <span class="Win_Ratio_data align_end">62.11%</span>
                        <span class="KdRatio_data align_end">1.14</span>
                        <span class="dmgData align_end">138.2</span>
                        <span class="abilityDetails align_end">
                            <span>Kills</span>
                            <span>Assists</span>
                            <span>Headshot</span>
                        </span>
                        <span class="line"></span>
                        <div class="abilityCountContainer">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <img class="top_agent_img" id="first_top_img"
                            src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt4e5af408cc7a87b5/5eb7cdc17bedc8627eff8deb/V_AGENTS_587x900_Omen.png">
                    </div>
                </div>
                <div class="other_top_agents second_top_agent">
                    <div class="other_agents_grid_container">
                        <div class="agent_name">
                            <span id="second_top">JETT</span>
                        </div>
                        <div class="agent_win_ratio">
                            <span>Win Ratio</span>
                            <span class="AgentWin">60.1%</span>
                        </div>
                        <img id="second_top_img" class="agent_image"
                            src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltceaa6cf20d328bd5/5eb7cdc1b1f2e27c950d2aaa/V_AGENTS_587x900_Jett.png">

                    </div>
                </div>
                <div class="other_top_agents third_top_agent">
                    <div class="other_agents_grid_container">
                        <div class="agent_name">
                            <span id="third_top">Brimstone</span>
                        </div>
                        <div class="agent_win_ratio">
                            <span>Win Ratio</span>
                            <span class="AgentWin">60.1%</span>
                        </div>
                        <img id="third_top_img" class="agent_image third"
                            src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt26fcf1b5752514ee/5eb7cdbfc1dc88298d5d3799/V_AGENTS_587x900_Brimstone.png">

                    </div>
                </div>
                <div class="season_stats_container">
                    <div class="stats_grid_container">
                        <div class="headerFlex">
                            <h1>COMPETETIVE OVERVIEW</h1>
                            <div class="select-menu">
                                <div class="select">
                                    <span>ACT 2 EP 8 </span>
                                    <i class="fas fa-angle-down"></i>
                                </div>
                                <div class="options-list">
                                    <div class="option" season="e8a2">ACT 2 EP 8</div>
                                    <div class="option" season="e8a1">ACT 1 EP 8</div>
                                    <div class="option" season="e7a3">ACT 3 EP 7</div>
                                    <div class="option" season="e7a2">ACT 2 EP 7</div>
                                    <div class="option" season="e7a1">ACT 1 EP 7</div>
                                    <div class="option" season="e8a2">ACT 3 EP 6</div>

                                </div>
                            </div>

                        </div>
                        <div class="winRatioFlexContainer">
                            <div class="pie animate no-round" style="--p:60.1;--c:#24B299;">
                                <div class="inside_pie">
                                    <span>Win Ratio</span>
                                    <span id="winPercent"></span>
                                </div>
                            </div>
                            <div class="win_loss_stats">
                                <div class="winColor"></div>
                                <div class="no_of_wins box_of_num" id="winNumber"> 975 Wins</div>
                            </div>
                            <div class="win_loss_stats">
                                <div class="lossColor"></div>
                                <div class="no_of_lose box_of_num" id="lostNumber"> 75 Lose</div>
                            </div>
                        </div>
                        <div class="performance_Container">
                            <div class="performance_row">
                                <div class="data">
                                    <div class="sidebar"></div>
                                    <div class="field1">
                                        <div>Kills</div>
                                        <div id="totalkills">12462</div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="sidebar"></div>
                                    <div class="field1">
                                        <div>Headshots</div>
                                        <div id="totalHead">7000</div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="sidebar"></div>
                                    <div class="field1">
                                        <div>Deaths</div>
                                        <div id="totalDeath">11,500</div>
                                    </div>
                                </div>
                            </div>
                            <div class="performance_row">
                                <div class="data">
                                    <div class="sidebar"></div>
                                    <div class="field1">
                                        <div>Kills/Round</div>
                                        <div id="overallKd">1.2</div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="sidebar"></div>
                                    <div class="field1">
                                        <div>Damage/Round</div>
                                        <div id="overallDmg">124.1</div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="sidebar"></div>
                                    <div class="field1">
                                        <div>Most Kills</div>
                                        <div id="highestKill">38</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="ranked_container">
                    <div class="ratingFlexBox">
                        <span>RATING</span>
                        <img id="rankImage"
                            src="https://media.valorant-api.com/competitivetiers/23eb970e-6408-bc0b-3f20-d8fb0e0354ea/16/largeicon.png">
                        <span id="rankName"> Bronze 3</span>
                    </div>
                </div>
                <div class="top_gun_container">
                    <span class="top_gun" onclick="scrollToNaveen()">Top Weapon</span>
                    <img
                        src="https://media.valorant-api.com/weapons/ee8e8d15-496b-07ac-e5f6-8fae5d4c7b1a/displayicon.png">
                </div>
                <div class="matches_container">
                    <div class="last_match_title">
                        <h2>LAST MATCH</h2>
                        <h6>View All Matches </h6>
                    </div>
                    <div class="boxFlex">
                        <div class="marker"></div>

                        <div class="matchesFlex">
                            <!-- <div class="date">Today</div>
                            <div class="containerBox">
                                <div class="matchesGrid">
                                    <img class="agent_ffs"
                                        src="https://media.valorant-api.com/agents/cc8b64c8-4b25-4ff9-6e7f-37b4da43d235/displayicon.png"
                                        width="40">
                                    <div class="mapContainer box">
                                        <div class="mapName">IceBox</div>
                                        <div class="matchScore">11-13</div>
                                    </div>
                                    <div class="killsData box">
                                        <div class="kda">K / D / A</div>
                                        <div class="kdaData">13 / 6 / 5</div>
                                    </div>
                                    <img class="teir"
                                        src="https://media.valorant-api.com/competitivetiers/564d8e28-c226-3180-6285-e48a390db8b1/13/smallicon.png">

                                </div>
                                <div class="veriticalBar"></div>
                            </div>
                            <div class="containerBox">
                                <div class="matchesGrid">
                                    <img class="agent_ffs"
                                        src="https://media.valorant-api.com/agents/cc8b64c8-4b25-4ff9-6e7f-37b4da43d235/displayicon.png"
                                        width="40">
                                    <div class="mapContainer box">
                                        <div class="mapName">IceBox</div>
                                        <div class="matchScore">11-13</div>
                                    </div>
                                    <div class="killsData box">
                                        <div class="kda">K / D / A</div>
                                        <div class="kdaData">13 / 6 / 5</div>
                                    </div>
                                    <img class="teir"
                                        src="https://media.valorant-api.com/competitivetiers/564d8e28-c226-3180-6285-e48a390db8b1/13/smallicon.png">

                                </div>
                                <div class="veriticalBar"></div>
                            </div>
                            <div class="date">21 Jan</div>
                            <div class="containerBox">
                                <div class="matchesGrid">
                                    <img class="agent_ffs"
                                        src="https://media.valorant-api.com/agents/cc8b64c8-4b25-4ff9-6e7f-37b4da43d235/displayicon.png"
                                        width="40">
                                    <div class="mapContainer box">
                                        <div class="mapName">IceBox</div>
                                        <div class="matchScore">11-13</div>
                                    </div>
                                    <div class="killsData box">
                                        <div class="kda">K / D / A</div>
                                        <div class="kdaData">13 / 6 / 5</div>
                                    </div>
                                    <img class="teir"
                                        src="https://media.valorant-api.com/competitivetiers/564d8e28-c226-3180-6285-e48a390db8b1/13/smallicon.png">

                                </div>
                                <div class="veriticalBar"></div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="matchHighlights">
                    <div class="headerContainer">
                        <div class="MatchOverView">
                            <div class="flexfirst">
                                <div class="ff flexEnd">
                                    <img class="spikeicon"
                                        src="https://imgsvc.trackercdn.com/url/max-width(48),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fvalorant%2Ficons%2Fmodes%2Fnormal.png/image.png">
                                    <div class="nameMapFlex">
                                        <span>Competitive</span>
                                        <span id="mapid">Breeze</span>
                                    </div>
                                </div>
                                <div class="box1">
                                    <div class="TeamFlex ">
                                        <div>Team A</div>
                                        <div id="teamAScore">11</div>
                                    </div>
                                    <div class="colon flexEnd">:</div>
                                    <div class="TeamFlex ">
                                        <div>Team B</div>
                                        <div id="teamBScore">13</div>
                                    </div>
                                </div>
                                <div class="box2 ">
                                    <div class="timestamp">3/17/24, 3:12 PM</div>
                                    <div class="gameLength">39m 09s</div>
                                </div>
                                <div class="box2 ">
                                    <div >Average Rank</div>
                                    <div class="rankBox"><img class= "avgrankImg" src=''><div class="avgRank">Platinum II</div></div>
                                    
                                </div>
                            </div>
                            <div class="closeFlex">
                                <button id="closeConatiner">&#10006;</button>
                            </div>
                        </div>
                        <div class="subPerformance">
                            <button>Scoreboard</button>
                            <button>Performance</button>
                            <button>Economy</button>
                            <button>Duels</button>
                        </div>

                    </div>
                    <div class="mainContainer">
                        <div class="mc-grid">
                        <div class="Firstheader"></div>
                        <div class="evenRow"></div>
                            <div class="name-Column">Team A : Platinum 1</div>
                            <div class="matchRank-Column">Match Rank</div>
                            <div class="acs-Column">ACS <div class="tooltip">I am a tooltip!</div> </div>
                            <div class="kill-Column">K </div>
                            <div class="death-Column">D </div>
                            <div class="assist-Column">A </div>
                            <div class="killdif-Column">+/- </div>
                            <div class="kd-Column">K/D </div>
                            <div class="dda-Column">DD&Delta;</div>
                            <div class="adr-Column">ADR</div>
                            <div class="Headshot-Column">HS%</div>
                            <div class="firstkill-Column">FK</div>
                            <div class="firstdeath-Column">FD</div>
                            <div class="multikill-Column">MK</div>
                            <div class="firstplayerBox">
                                <div class="partyIndicator"></div>
                                <img src="https://media.valorant-api.com/agents/e370fa57-4757-3604-3648-499e1f642d3f/displayicon.png" width="40">
                                <div class="nameLevelWrapper">
                                    <div class="NameAndTag">
                                        Chetan <span class="tag"> #123</span>
                                    </div>
                                    <div class="PLayerlvl">
                                        Level:123
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>
    <script src="/Scripts/playerstats.js"></script>
    <script src="/Scripts/matchData.js"></script>
</body>

</html>